<!-- OLD -->
<h2>ET dossier {{context?.dossierNr}}</h2>
<label for="name">Naam</label><input name="name" type="text">

<!-- NEW -->
<!-- abs-import 'sample.umd.js#SampleModule' -->
<h2>ET dossier {{context?.dossierNr}}</h2>
<label for="name">Naam evenement</label><input name="name" type="text"><br>
<et-form [dossierNr]="context?.dossierNr" (onSaved)="emit($event)"></et-form>